
@using TravelFinalProject.ViewModels.Users
 @model ForgotPasswordVM  
<section class="breadcrumb-main pb-0" style="background-image: url(images/bg/bg8.jpg);">
        <div class="breadcrumb-outer pt-10">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                    <h2 class="mb-0">Forgot Password</h2>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends -->  

    <!-- Forgot Password -->
    <div class="forgot-password pb-10 pt-10">
        <div class="container">
            <div class="fp-content w-50 mx-auto text-center">
         
                <div class="alert alert-success" role="alert">

                    <p>we have sent an email on your registered email id</p>
                </div>
            
          
                <h4 class="">Please provide your email address. <br>Click in the provided link to retrieve you account.</h4>
                <form asp-action="ForgotPassword" method="post">
                    <div class="form-group mb-0">

                        <input asp-for="Email" class="form-control" id="Name" placeholder="Enter your valid email address">
                        <span asp-validation-for="Email"></span>
                        <button type="submit" class="nir-btn mt-2">Reset Password</button>
                    </div>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }
                </form>
        
            </div>
        </div>
    </div>
    <!-- Forgot Password Ends -->
