@using TravelFinalProject.ViewModels.Users

 @model ResetPasswordVM
<section class="breadcrumb-main pb-0" style="background-image: url(images/bg/bg8.jpg);">
    <div class="breadcrumb-outer pt-10">
        <div class="container">
            <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                <h2 class="mb-0">Forgot Password</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends -->
<!-- Forgot Password -->
<div class="forgot-password pb-10 pt-10">
    <div class="container">
        <div class="fp-content w-50 mx-auto text-center">
          
                <h4 class="">Please provide your email address. <br>Click in the provided link to retrieve you account.</h4>
            <p><strong>Token (raw):</strong> @Html.Raw(Model.Token)</p>

            <form asp-action="ResetPassword" asp-controller="Account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Token" type="hidden" />
                    <input asp-for="Email" type="hidden" />

                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            

        </div>
    </div>
</div>
<!-- Forgot Password Ends -->
