@model UpdateDestinationVM

<div class="addlist-inner mb-3">
    <div class="addlist-title">
        <h4 class="m-0"><i class="fa fa-user pr-2"></i>Tour Create</h4>
    </div>
    <div class="addlist-content bg-white">
        <form method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="form-group">
                        <div class="input-box">
                       <img style="width:150px; height:100px;" src="~/assets/images/trending/@Model.PrimaryImage"/>
                            <input type="hidden" asp-for="PrimaryImage" class="form-control" />
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <label asp-for="MainPhoto" class="form-label">Photo</label>
                            <input asp-for="MainPhoto" class="form-control" />
                            <span asp-validation-for="MainPhoto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <label asp-for="Name" class="form-label">Name</label>
                            <input asp-for="Name" class="form-control" placeholder="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <label asp-for="Description" class="form-label">Description</label>
                            <input asp-for="Description" class="form-control" placeholder="Description" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-box">
                                <label asp-for="Country" class="form-label">Country</label>
                                <input asp-for="Country" class="form-control" placeholder="Country" />
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Show in Home Page?</label>
                            <input asp-for="IsFeatured" type="checkbox" />
                        </div>
                    </div>
                </div>


            </div>

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
</div>