@using TravelFinalProject.ViewModels.ReviewVM
@model ReviewVM

<div class="review-wrapper">
    <div class="review-card">
        <h4>Write a Review</h4>
        <form asp-action="ReviewAdd" method="post">
            @foreach (var kvp in ViewData.ModelState)
            {
                foreach (var error in kvp.Value.Errors)
                {
                    <li><strong>@kvp.Key:</strong> @error.ErrorMessage</li>
                }
            }
            <input type="hidden" asp-for="TourId" />
            <input type="hidden" name="LengCode" value="@Model.LengCode ?? " en"" />
            <div class="form-group">
                <label>Tour:</label>
                <p>@Model.TourTitle</p>
            </div>

            <div class="form-group">
                <label asp-for="Comment">Şərhiniz</label>
                <textarea asp-for="Comment" placeholder="Şərhinizi yazın"></textarea>
            </div>

            <div class="form-group">
                <label>Reytinq:</label>
                <div class="star-rating">
                    <input type="radio" value="5" asp-for="Rating" id="star5" /><label for="star5">★</label>
                    <input type="radio" value="4" asp-for="Rating" id="star4" /><label for="star4">★</label>
                    <input type="radio" value="3" asp-for="Rating" id="star3" /><label for="star3">★</label>
                    <input type="radio" value="2" asp-for="Rating" id="star2" /><label for="star2">★</label>
                    <input type="radio" value="1" asp-for="Rating" id="star1" /><label for="star1">★</label>
                </div>
            </div>

            <button class="submit-btn" type="submit">Göndər</button>
        </form>
        @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    </div>
</div>